{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Register" %}{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <h1 class="h3 mb-3">{% trans "Student Registration" %}</h1>
    <p>{% trans "Only @unicatt.it and @icatt.it emails can register." %}</p>
    <form method="post" class="card p-3">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">{% trans "Register" %}</button>
    </form>
  </div>
</div>
{% endblock %}
